* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
  position: fixed;
  right: 0;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  width: 120px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}